<div class="event-wrapper">
<% cache("cal1", :expires_in => 1.minutes) do 
    require 'open-uri'
    require 'json'
    url = "http://www.google.com/calendar/feeds/"+@id+"/public/full?alt=json&orderby=starttime&max-results="+@results+"&singleevents=true&sortorder=ascending&futureevents=true"
    doc = open(url)
    jsonObj = JSON.load(doc)
    jsonObj['feed']['entry'].each do |entry|
    if (entry['title']['$t'] != "")
        time = DateTime.iso8601(entry['gd$when'][0]['startTime']) %>
        <a href="<%= entry['link'][0]['href'] %>" target="_blank">
            <div class="event-block">
                <h3 class="event-name"><%= entry['title']['$t'] %></h3>
                <p class="event-time"><%= time.strftime("%B") %> <%= time.day %>, <%= time.strftime("%l:%M %P") %> @ <%= entry['gd$where'][0]['valueString'] %></p>
                <p class="event-description"><%= entry['content']['$t'] %></p>
            </div>
        </a>
        <% end %>
    <% end %>
<% end %>
</div>