<a class="anchor" id="partners"></a>
<div class="inner-section">

    <a href="http://eng.umd.edu"><%=image_tag("sponsors/clark_logo.png", alt: "Clark School")%></a>
    <a href="http://neelbauerlaw.com"><%=image_tag("sponsors/neelbauer_logo.png", alt: "Neelbauer Law")%></a>
    <a href="http://mtech.umd.edu"><%=image_tag("sponsors/mtech_logo.png", alt: "mtech")%></a>
    <a href="http://innovation.umd.edu"><%=image_tag("sponsors/aie_logo.png", alt: "Academy for Innovation and Entrepreneurship")%></a>
    <a href="http://www.rhsmith.umd.edu/centers-excellence/dingman-center-entrepreneurship"><%=image_tag("sponsors/dingman_logo.png", alt: "Dingman Program")%></a>
    <a href="http://spinnakr.com"><%=image_tag("sponsors/spinnakr_logo.png", alt: "Spinnakr")%></a>

</div> <!-- end .inner-section -->