
<section class="welcome">
    <div class="inner-section">

        <h2>Think. Build. Play.</h2>
        
    </div> <!-- end .inner-section -->
</section> <!-- end section .welcome -->


<section class="about section-alt">
    <%= render "pages/about" %>
</section> <!-- end section .about -->

<section class="events">
    <%= render "pages/events" %>
</section> <!-- end section .engage -->

<section class="startups section-alt">
    <%= render "pages/startups" %>
</section> <!-- end section .startups -->

<section class="people">
    <%= render "pages/people" %>
</section> <!-- end section .people -->

<section class="apply section-alt">
    <%= render "pages/apply" %>
</section> <!-- end section .engage -->