<section class="about">
    <%= render "pages/about" %>
</section> <!-- end section .about -->

<section class="events section-alt">
    <%= render "pages/events" %>
</section> <!-- end section .engage -->

<section class="startups">
    <%= render "pages/startups" %>
</section> <!-- end section .startups -->

<section class="people section-alt">
    <%= render "pages/people" %>
</section> <!-- end section .people -->

<section class="apply">
    <%= render "pages/apply" %>
</section> <!-- end section .engage -->
<% content_for :jquery do %>
  <%= javascript_include_tag "scrollScripts" %>
<% end %>

