<section class="feature">
    <%= render "pages/feature" %>
</section> <!-- end section .feature -->

<section class="subscribe">
    <%= render "pages/subscribe" %>
</section> <!-- end section .subscribe -->

<section class="about">
    <%= render "pages/about" %>
</section> <!-- end section .about -->

<section class="startups">
    <%= render "pages/startups" %>
</section> <!-- end section .startups -->

<section class="events">
    <%= render "pages/events" %>
</section> <!-- end section .events -->

<section class="apply">
    <%= render "pages/apply" %>
</section> <!-- end section .apply -->

<section class="partners">
    <%= render "pages/partners" %>
</section> <!-- end partners .apply -->

<%= render "pages/footer" %>

<% content_for :jquery do %>
  <%= javascript_include_tag "scrollScripts" %>
<% end %>