
<section class="welcome">
    <div class="inner-section">

        <h2>Think. Build. Play.</h2>
        
    </div> <!-- end .inner-section -->
</section> <!-- end section .welcome -->


<section class="about">
    <%= render "pages/about" %>
</section> <!-- end section .about -->

<section class="startups">
    <%= render "pages/startups" %>
</section> <!-- end section .startups -->

<section class="people">
    <%= render "pages/people" %>
</section> <!-- end section .people -->

<section class="engage">
    <%= render "pages/engage" %>
</section> <!-- end section .engage -->

<section class="connect">
    <%= render "pages/connect" %>
</section> <!-- end section .engage -->